/* begin Page */

#idt-page-background-glare-image
{
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+GetStyleUrl()+"images/Page-BgGlare.png',sizingMethod='crop')");
}
img
{
	filter:expression(fixPNG(this));
}
/* end Page */

/* begin Box, Sheet */
.idt-Sheet, .idt-Sheet-body
{
	zoom:1;
}

.idt-Sheet-body
{
	position:static;
}

.idt-Sheet-tr, .idt-Sheet-tl, .idt-Sheet-br, .idt-Sheet-bl, .idt-Sheet-tc, .idt-Sheet-bc,.idt-Sheet-cr, .idt-Sheet-cl
{
	font-size: 1px;
	background: none;
}

.idt-Sheet-tr, .idt-Sheet-tl, .idt-Sheet-br, .idt-Sheet-bl
{
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/Sheet-s.png',sizingMethod='scale')");
}

.idt-Sheet-tl
{
	clip: rect(auto 35px 35px auto);
}

.idt-Sheet-tr
{
	left: expression(this.parentNode.offsetWidth-70+'px');
	clip: rect(auto auto 35px 35px);
}

.idt-Sheet-bl
{
	top: expression(this.parentNode.offsetHeight-70+'px');
	clip: rect(35px 35px auto auto);
}

.idt-Sheet-br
{
	top: expression(this.parentNode.offsetHeight-70+'px');
	left: expression(this.parentNode.offsetWidth-70+'px');
	clip: rect(35px auto auto 35px);
}

.idt-Sheet-tc, .idt-Sheet-bc
{
	width: expression(this.parentNode.offsetWidth-70+'px');
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/Sheet-h.png',sizingMethod='scale')");
}

.idt-Sheet-tc
{
	clip: rect(auto auto 35px auto);
}

.idt-Sheet-bc
{
	top: expression(this.parentNode.offsetHeight-70+'px');
	clip: rect(35px auto auto auto);
}

.idt-Sheet-cr, .idt-Sheet-cl
{
	height: expression(this.parentNode.offsetHeight-70+'px');
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/Sheet-v.png',sizingMethod='scale')");
}

.idt-Sheet-cr
{
	left: expression(this.parentNode.offsetWidth-70+'px');
	clip: rect(auto auto auto 35px);
}

.idt-Sheet-cl
{
	clip: rect(auto 35px auto auto);
}

.idt-Sheet-cc
{
	font-size: 1px;
	width: expression(this.parentNode.offsetWidth-70+'px');
	height: expression(this.parentNode.offsetHeight-70+'px');
	background-color: #C2BBB2;
}
#idt-page-background-simple-gradient, #idt-page-background-gradient, #idt-page-background-glare
{
	width:expression(document.body.clientWidth > 1000 ? "100%" : "1000px");
}
/* end Box, Sheet */

/* begin Header */
div.idt-Header-png
{
	font-size: 1px;
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/Header.png',sizingMethod='crop')");
}
/* end Header */

/* begin Menu */

.idt-menu ul
{
	height: 1%;
	width:1px;
}

.idt-menu, .idt-menu ul
{
	height: 1%;
}

.idt-menu li.idt-menuhover
{
	z-index: 10000;
}

.idt-menu .idt-menuhoverUL
{
	visibility: visible;
}

.idt-menu .idt-menuhoverUL
{
	top: 100%;
	left: 0;
}

.idt-menu .idt-menuhoverUL .idt-menuhoverUL
{
	top: 0;
	left: 100%;
}

.idt-menu ul a
{
	height: 1%;
}

.idt-menu li li
{
	float: left;
	width: 100%;
}

.idt-menu .idt-menuhoverUL .idt-menuhoverUL
{
	top: 5px;
	left: 100%;
}

.idt-menu, .idt-menu ul
{
	height: 1%;
}

.idt-menu li.idt-menuhover
{
	z-index: 10000;
}

.idt-menu .idt-menuhoverUL
{
	visibility: visible;
}

.idt-menu .idt-menuhoverUL
{
	top: 100%;
	left: 0;
}

.idt-menu .idt-menuhoverUL .idt-menuhoverUL
{
	top: 0;
	left: 100%;
}

.idt-menu ul a
{
	height: 1%;
}

.idt-menu li li
{
	float: left;
	width: 100%;
}

.idt-nav
{
	zoom: 1;
}

.idt-nav .l, .idt-nav .r
{
	font-size: 1px;
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/nav.png',sizingMethod='crop')");
}

.idt-nav .l
{
	width: expression(this.parentNode.offsetWidth-0+'px');
}

.idt-nav .r
{
	left: expression(this.parentNode.offsetWidth-990+'px');
	clip: rect(auto auto auto 990px);
}
/* end Menu */

/* begin MenuItem */
.idt-menu a
{
	float:left;
}

.idt-menu a:hover
{
	visibility:visible;
}

.idt-menu a .r, .idt-menu a .l
{
	font-size:1px;
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/MenuItem.png',sizingMethod='crop')");
}

.idt-menu a .r
{
	left: expression(this.parentNode.offsetWidth-400+'px');
	clip: rect(auto auto auto 400px);
}

.idt-menu a .l
{
	width: expression(this.parentNode.offsetWidth-0+'px');
}

.idt-menuhover .idt-menuhoverA .t
{
	color: #C2BBB2;
}

.idt-menuhover .idt-menuhoverA .l, .idt-menuhover .idt-menuhoverA .r
{
	top: -25px;
}
/* end MenuItem */

/* begin MenuSubItem */

.idt-menu ul a
{
	color: #000000 !important;
}

.idt-menu ul a:hover {
	color: #C5BDB5 !important;
}	

.idt-menu ul .idt-menuhover .idt-menuhoverA
{
	color: #C5BDB5 !important;
	background-position: 0 -20px;
}

.idt-nav .idt-menu ul a:hover span, .idt-nav .idt-menu ul a:hover span span
{
	color: #C5BDB5 !important;
}	

.idt-nav .idt-menu ul .idt-menuhover .idt-menuhoverA span, .idt-nav .idt-menu ul .idt-menuhover .idt-menuhoverA span span
{
	color: #C5BDB5 !important;
}

/* end MenuSubItem */

/* begin Box, Block */
.idt-Block, .idt-Block-body
{
	zoom:1;
}

.idt-Block-body
{
	position:static;
}
/* end Box, Block */

/* begin BlockHeader */
.idt-BlockHeader, .idt-BlockHeader
{
	font-size: 1px;
}
.idt-BlockHeader .l, .idt-BlockHeader .r
{
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/BlockHeader.png',sizingMethod='crop')");
}

.idt-BlockHeader .r
{
	left: expression(this.parentNode.offsetWidth-990+'px');
	clip: rect(auto auto auto 985px);
}

.idt-BlockHeader .l
{
	width: expression(this.parentNode.offsetWidth-5+'px');
}

.idt-header-tag-icon
{
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/BlockHeaderIcon.png',sizingMethod='crop')");
}

/* end BlockHeader */

/* begin Box, BlockContent */
.idt-BlockContent, .idt-BlockContent-body
{
	zoom:1;
}

.idt-BlockContent-body
{
	position:static;
}

.idt-BlockContent-tr, .idt-BlockContent-tl, .idt-BlockContent-br, .idt-BlockContent-bl, .idt-BlockContent-tc, .idt-BlockContent-bc,.idt-BlockContent-cr, .idt-BlockContent-cl
{
	font-size: 1px;
	background: none;
}

.idt-BlockContent-tr, .idt-BlockContent-tl, .idt-BlockContent-br, .idt-BlockContent-bl
{
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/BlockContent-s.png',sizingMethod='scale')");
}

.idt-BlockContent-tl
{
	clip: rect(auto 5px 5px auto);
}

.idt-BlockContent-tr
{
	left: expression(this.parentNode.offsetWidth-10+'px');
	clip: rect(auto auto 5px 5px);
}

.idt-BlockContent-bl
{
	top: expression(this.parentNode.offsetHeight-10+'px');
	clip: rect(5px 5px auto auto);
}

.idt-BlockContent-br
{
	top: expression(this.parentNode.offsetHeight-10+'px');
	left: expression(this.parentNode.offsetWidth-10+'px');
	clip: rect(5px auto auto 5px);
}

.idt-BlockContent-tc, .idt-BlockContent-bc
{
	width: expression(this.parentNode.offsetWidth-10+'px');
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/BlockContent-h.png',sizingMethod='scale')");
}

.idt-BlockContent-tc
{
	clip: rect(auto auto 5px auto);
}

.idt-BlockContent-bc
{
	top: expression(this.parentNode.offsetHeight-10+'px');
	clip: rect(5px auto auto auto);
}

.idt-BlockContent-cr, .idt-BlockContent-cl
{
	height: expression(this.parentNode.offsetHeight-10+'px');
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/BlockContent-v.png',sizingMethod='scale')");
}

.idt-BlockContent-cr
{
	left: expression(this.parentNode.offsetWidth-10+'px');
	clip: rect(auto auto auto 5px);
}

.idt-BlockContent-cl
{
	clip: rect(auto 5px auto auto);
}

.idt-BlockContent-cc
{
	font-size: 1px;
	width: expression(this.parentNode.offsetWidth-10+'px');
	height: expression(this.parentNode.offsetHeight-10+'px');
	background-color: #DEDEDE;
}

.idt-BlockContent-body ul li
{
	height:1%;
	background:none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/BlockContentBullets.png',sizingMethod='crop')");
}

/* end Box, BlockContent */

/* begin Box, Post */
.idt-Post, .idt-Post-body
{
	zoom:1;
}

.idt-Post-body
{
	position:static;
}
/* end Box, Post */

/* begin PostContent */
h1
{
  margin: 0.67em 0;
}

h2
{
  margin: 0.8em 0;
}

h3
{
  margin: 1em 0;
}

h4
{
  margin: 1.25em 0;
}

h5
{
  margin: 1.67em 0;
}

h6
{
  margin: 2.33em 0;
}
/* end PostContent */

/* begin PostBullets */
.idt-Post ul li, .idt-Post ol ul li
{
	height:1%;
	background:none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/PostBullets.png',sizingMethod='crop')");
}

.idt-Post ul ol li
{
	background:none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="");
}
/* end PostBullets */

/* begin PostQuote */
blockquote
{
	height:1%;
	background-image: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/PostQuote.png',sizingMethod='crop')");
}
/* end PostQuote */

/* begin Button */
.idt-button-wrapper .idt-button
{
	display:list-item;
	list-style-type:none;
	float:left;
}

.idt-button-wrapper, .idt-button-wrapper .l, .idt-button-wrapper .r
{
	font-size: 1px;
}

.idt-button-wrapper .idt-button
{
	float:left;
}

.idt-button-wrapper .l, .idt-button-wrapper .r
{
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/Button.png',sizingMethod='crop')");
}

.idt-button-wrapper .r
{
	left: expression(this.parentNode.offsetWidth-409+'px');
	clip: rect(auto auto auto 401px);
}

.idt-button-wrapper .l
{
	width: expression(this.parentNode.offsetWidth-8+'px');
}

/* end Button */

/* begin Footer */
.idt-Footer .idt-Footer-background
{
	top: expression(this.parentNode.offsetHeight-150+'px');
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/Footer.png',sizingMethod='crop')");
	zoom: 1;
	font-size:1px;
}

.idt-rss-tag-icon
{
	zoom:1;
	font-size:1px;
	background:none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/rssIcon.png',sizingMethod='crop')");
}

/* end Footer */



#user-login-form ul li, ul.idttabs_primary li, ul.idttabs_secondary li
{
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="");
}

.BlockContent
{
	width: 100% !important;	
}
